<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-download-heading" data-cy="DownloadCreateUpdateHeading" jhiTranslate="khongGianTruyenApp.download.home.createOrEditLabel">
        Create or edit a Download
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.download.downloadDate" for="field_downloadDate"
            >Download Date</label
          >
          <div class="d-flex">
            <input
              id="field_downloadDate"
              data-cy="downloadDate"
              type="datetime-local"
              class="form-control"
              name="downloadDate"
              formControlName="downloadDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.download.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.download.resource" for="field_resource">Resource</label>
          <select class="form-control" id="field_resource" data-cy="resource" name="resource" formControlName="resource">
            <option *ngIf="!editForm.get('resource')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                resourceDownloadOption.id === editForm.get('resource')!.value?.id ? editForm.get('resource')!.value : resourceDownloadOption
              "
              *ngFor="let resourceDownloadOption of resourceDownloadsSharedCollection; trackBy: trackResourceDownloadById"
            >
              {{ resourceDownloadOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['resource'])!.invalid && (editForm.get(['resource'])!.dirty || editForm.get(['resource'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['resource'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
