<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="khongGianTruyenApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.product.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.product.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.product.imageUrl" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.product.publishDate" for="field_publishDate"
            >Publish Date</label
          >
          <div class="d-flex">
            <input
              id="field_publishDate"
              data-cy="publishDate"
              type="datetime-local"
              class="form-control"
              name="publishDate"
              formControlName="publishDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.product.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'khongGianTruyenApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">{{ 'khongGianTruyenApp.Status.' + status | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.product.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'khongGianTruyenApp.FormatType.null' | translate }}</option>
            <option *ngFor="let formatType of formatTypeValues" [value]="formatType">
              {{ 'khongGianTruyenApp.FormatType.' + formatType | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.product.totalChapter" for="field_totalChapter"
            >Total Chapter</label
          >
          <input
            type="number"
            class="form-control"
            name="totalChapter"
            id="field_totalChapter"
            data-cy="totalChapter"
            formControlName="totalChapter"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="khongGianTruyenApp.product.author" for="field_author">Author</label>
          <select class="form-control" id="field_author" data-cy="author" name="author" formControlName="author">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="authorOption.id === editForm.get('author')!.value?.id ? editForm.get('author')!.value : authorOption"
              *ngFor="let authorOption of authorsCollection; trackBy: trackAuthorById"
            >
              {{ authorOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="khongGianTruyenApp.product.category" for="field_categories">Category</label>
          <select class="form-control" id="field_categories" data-cy="category" multiple name="categories" formControlName="categories">
            <option
              [ngValue]="getSelectedCategory(categoryOption, editForm.get('categories')!.value)"
              *ngFor="let categoryOption of categoriesSharedCollection; trackBy: trackCategoryById"
            >
              {{ categoryOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
